# Ignore node_modules directory
src/node_modules

# Ignore environment variables and sensitive files
.env

# Ignore Docker-related files
docker-compose.yml
Dockerfile

# Ignore scripts and documentation
*.sh
*.md
*.txt